.balk{
  background-color: #AD5B2B;
  height: 80px;
  width: 100vw;
  opacity: 0.8;
  position:fixed;
  top: 0px;


}
body{
  background-image: url(photos/bgs.jpeg);
  width: 100vw;
  height:30000px;

  background-repeat: no-repeat;
}
