.balk{
  background-color: #AD5B2B;
  height: 80px;
  width: 100vw;
  opacity: 0.8;
  position:fixed;
  z-index: 2;

}
.bg-img{
  background-image: url(photos/bg-img.jpg);
  width: 100vw;
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
